@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

body {
    margin: 0px !important;
    font-family: 'Roboto', sans-serif;
    line-height: 2rem;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a.btn-join-in-section {
    background-color: #000;
    color: white;
    padding: 10px 20px;
}

a.btn-join-in-section:active {
    background-color: #cbcbcb;
    color: #000;
}